body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(to right, #191d32, #36384c);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-registrasi,
.form-login {
    background-color: #fff;
    color: #191d32;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    max-width: 90%;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 25px;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: #f9f9f9;
}

button[type="submit"] {
    background-color: #191d32;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 4px 30px #263a4326;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #2a2e4a;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.switch-page {
    text-align: center;
    font-size: 14px;
}

.switch-page a {
    color: #191d32;
    font-weight: bold;
    text-decoration: none;
}

.switch-page a:hover {
    text-decoration: underline;
}